.footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--strong-foreground-color);
}

.heart {
  color: #bf2243;
  width: 30px;
  height: 30px;
  transition-duration: 200ms;
}
.heart:hover {
  scale: 1.2;
}
